@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,500&display=swap');


.fonts {
  font-family: 'Poppins', sans-serif;
}

.font-light{
  color:ghostwhite;
}

.font-bright{
  color: aliceblue;
}

.pad-left{
  padding-left: 6.5em;
}